

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">1 - Dictionary Management</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span title="Домой" class="bi bi-house-fill" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;Домой</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNavDictionary = !expandSubNavDictionary" href="dictionary">
                <span title="СПРАВОЧНИКИ" class="bi bi-card-list" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;СПРАВОЧНИКИ</label>
                }
            </NavLink>            
        </div>

        @*        @if (expandSubNavDictionary)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/SapEquipment">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Ресурсы SAP
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/SapMaterial">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Материалы SAP
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/MesMaterial">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Материалы MES
        </NavLink>
        </div>


        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/SapUnitOfMeasure">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Ед. изм. SAP
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/MesUnitOfMeasure">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Ед. изм. MES
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dictionary/CorrectionReason">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-card-list" aria-hidden="true"></span>&nbsp;&nbsp;Причины коррект.
        </NavLink>
        </div>


        }*@


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapping" @onclick="()=>expandSubNavMapping = !expandSubNavMapping">
                <span title="МАППИНГ" class="bi bi-arrow-left-right" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;МАППИНГ</label>
                }
            </NavLink>
        </div>


        @*        @if (expandSubNavMapping)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="mapping/SapToMesMaterialMapping">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-left-right" aria-hidden="true"></span>&nbsp;&nbsp;Материалы
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="mapping/UnitOfMeasureSapToMesMapping">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-left-right" aria-hidden="true"></span>&nbsp;&nbsp;Ед. измерения
        </NavLink>
        </div>

        }*@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tags" @onclick="()=>expandSubNavTags = !expandSubNavTags">
                <span title="ТЭГИ" class="bi bi-tags-fill" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;ТЭГИ</label>
                }
            </NavLink>
        </div>

        @*        @if (expandSubNavTags)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="tags/MesParamSourceType">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-tags-fill" aria-hidden="true"></span>&nbsp;&nbsp;Типы тэгов
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="tags/MesParam">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-tags-fill" aria-hidden="true"></span>&nbsp;&nbsp;Тэги
        </NavLink>
        </div>

        }*@


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataarchive" @onclick="()=>expandSubNavDataArchive = !expandSubNavDataArchive">
                <span title="АРХИВ ДАННЫХ" class="bi bi-database-fill" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;АРХИВ ДАННЫХ</label>
                }
            </NavLink>
        </div>

        @*        @if (expandSubNavDataArchive)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dataarchive/DataType">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="i bi-database-fill" aria-hidden="true"></span>&nbsp;&nbsp;Виды данных
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dataarchive/DataSource">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-database-fill" aria-hidden="true"></span>&nbsp;&nbsp;Источники данных
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="dataarchive/MesMovements">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-database-fill" aria-hidden="true"></span>&nbsp;&nbsp;Архив данных
        </NavLink>
        </div>
        }*@

        <div class="nav-item px-3">
            <NavLink title="ВИТРИНЫ SAP" class="nav-link" href="SAPshowcase" @onclick="()=>expandSubNavSAPShowcase = !expandSubNavSAPShowcase">
                <span class="bi bi-arrow-up" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;ВИТРИНЫ SAP</label>
                }
            </NavLink>
        </div>

        @*        @if (expandSubNavSAPShowcase)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="SAPshowcase/SapMovementsIN">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;Движения - вход
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="SAPshowcase/SapMovementsOUT">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;Движения - выход
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="SAPshowcase/SapPackingOUT">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;Фасовка - выход
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="SAPshowcase/SapNdoOUT">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;НДО - выход
        </NavLink>
        </div>

        }*@


        <div class="nav-item px-3">
            <NavLink title="ОТЧЁТЫ" class="nav-link" href="reports" @onclick="()=>expandSubNavReport = !expandSubNavReport">
                <span class="bi bi-building-fill-add" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;ОТЧЁТЫ</label>
                }
            </NavLink>
        </div>


        @*        @if (expandSubNavReport)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="reports/ReportTemplateType">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-building-fill-add" aria-hidden="true"></span>&nbsp;&nbsp;Типы шаблонов
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="reports/ReportTemplate">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-building-fill-add" aria-hidden="true"></span>&nbsp;&nbsp;Шаблоны
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="reports/ReportEntity">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-building-fill-add" aria-hidden="true"></span>&nbsp;&nbsp;Экземп. отчётов
        </NavLink>
        </div>

        }*@


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EventJournal" @onclick="()=>expandSubNavEventJournal = !expandSubNavEventJournal">
                <span title="ЖУРНАЛ СОБЫТИЙ" class="bi bi-journal" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;ЖУРНАЛ СОБЫТИЙ</label>
                }
            </NavLink>
        </div>

        @*        @if (expandSubNavEventJournal)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="EventJournal/LogEvent">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi-journal" aria-hidden="true"></span>&nbsp;&nbsp;Журнал событий
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="EventJournal/LogEventType">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi-journal" aria-hidden="true"></span>&nbsp;&nbsp;Типы событий
        </NavLink>
        </div>

        }*@


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration" @onclick="()=>expandSubNavAdministration = !expandSubNavAdministration">
                <span title="АДМИН" class="bi bi-gear-fill" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>&nbsp;&nbsp;АДМИН</label>
                }
            </NavLink>
        </div>


        @*        @if (expandSubNavAdministration)
        {

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="administration/User">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-gear-fill" aria-hidden="true"></span>&nbsp;&nbsp;Пользователи
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="administration/Role">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-gear-fill" aria-hidden="true"></span>&nbsp;&nbsp;Роли
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="administration/MesDepartment">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-gear-fill" aria-hidden="true"></span>&nbsp;&nbsp;Производства
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="administration/Smena">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-gear-fill" aria-hidden="true"></span>&nbsp;&nbsp;Смены
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link p-lg-4" href="administration/Settings">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="bi bi-gear-fill" aria-hidden="true"></span>&nbsp;&nbsp;Настройки
        </NavLink>
        </div>

        }*@


    </nav>

</div>
<div class="bottom-row">
    <div class="icon-menu-arrow">
        @if (!@IconMenuActive)
        {
            <span class="bi bi-arrow-left" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
        else
        {
            <span class="bi bi-arrow-right" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
    </div>
</div>


@code {

    private bool IconMenuActive { get; set; } = false;
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private bool expandSubNavDictionary;
    private bool expandSubNavMapping;
    private bool expandSubNavTags;
    private bool expandSubNavDataArchive;
    private bool expandSubNavSAPShowcase;
    private bool expandSubNavReport;
    private bool expandSubNavEventJournal;
    private bool expandSubNavAdministration;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}
