@page "/SAPshowcase"
@attribute [Authorize]

<h4 class="card-title text-primary">Витрины SAP</h4>
@*<h3>Витрины SAP</h3>*@

<br />

<i class="bi bi-arrow-down"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapMovementsIN">Движения - вход</a>
<br />
<br />
<i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapMovementsOUT">Движения - выход</a>
<br />
<br />
@* <i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapPackingOUT">Фасовка - выход</a>
<br />
<br /> *@
<i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapNdoOUT">НДО - выход</a>


@code {

}
