@page "/SAPshowcase"
@attribute [Authorize]

@* <h4 class="card-title text-primary">Витрины SAP</h4> *@
@*<h3>Витрины SAP</h3>*@

<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Витрины SAP</font></strong></h6>
</div>

<br />

<i class="bi bi-arrow-down"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapMovementsIN">Движения - вход</a>
<br />
<br />
<i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapMovementsOUT">Движения - выход</a>
<br />
<br />
@* <i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapPackingOUT">Фасовка - выход</a>
<br />
<br /> *@
<i class="bi bi-arrow-up"></i>&nbsp;&nbsp;<a href="/SAPshowcase/SapNdoOUT">НДО - выход</a>


@code {

}
