@page "/administration"
@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Models.IntDBModels;
@inject DialogService _dialogService
@inject NavigationManager _navigationManager
@inject IVersionRepository _versionRepository
@attribute [Authorize]

@* <h4 class="card-title text-primary">Администрирование</h4> *@
<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Администрирование</font></strong></h6>
</div>
<br />

<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/User">Пользователи</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/ADGroup">Группы AD</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/Role">Роли</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/MesDepartment">Производства</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/Smena">Смены</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/Settings">Настройки</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="administration/Scheduler">Расписания авторасчётов (AutoCalc)</a>
<br />
<br />
<i class="bi bi-gear-fill"></i>&nbsp;&nbsp;<a href="" @onclick="@(() => EditVersion())" @onclick:preventDefault>@DBVersionLinkText</a>

@code {

    public bool IsLoading { get; set; } = true;
    public SD.AdminMode IsAdmin { get; set; }

    public string DBVersionLinkText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        DBVersionLinkText = "Версия БД СИР";// - " + (await _versionRepository.Get()).version;
    }

    async Task EditVersion()
    {
        IsAdmin = await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On);
        if (IsAdmin == AdminMode.IsAdmin || IsAdmin == AdminMode.IsAdminReadOnly)
        {
            IsLoading = true;

            VersionDTO dialogResult;

            IsLoading = false;
            dialogResult = await _dialogService.OpenAsync<AddEditVersion>("Редактирование версии БД СИР", new Dictionary<string, object>() { { "version", "" } }, new DialogOptions() { Width = $"{500}px", Left = $"calc(50vw - 350px)" });
            DBVersionLinkText = "Версия БД СИР"; // + dialogResult.version;
            _navigationManager.NavigateTo("/administration");
        }

    }
}
