@page "/dictionary"
@attribute [Authorize]


<h4 class="card-title text-primary">Справочники</h4>

<br />

<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapEquipment">Ресурсы SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapMaterial">Материалы SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/MesMaterial">Материалы MES</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapUnitOfMeasure">Единицы измерения SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/MesUnitOfMeasure">Единицы измерения MES</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/CorrectionReason">Причины корректировок</a>


@code {

}
