@page "/dictionary"
@attribute [Authorize]




<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Справочники</font></strong></h6>
</div>
<br />
@* <h4 class="card-title text-primary">Справочники</h4>
<br />
 *@
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapEquipment">Ресурсы SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapMaterial">Материалы SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/MesMaterial">Материалы MES</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/SapUnitOfMeasure">Единицы измерения SAP</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/MesUnitOfMeasure">Единицы измерения MES</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/CorrectionReason">Причины корректировок</a>
<br />
<br />
<i class="bi bi-card-list"></i>&nbsp;&nbsp;<a href="dictionary/CorrectionReasonToReportTemplateTypeAndDataType">Причины корректировок - привязка к типам шаблонов отчётов и типам данных</a>


@code {

}
