@page "/EventJournal"
@attribute [Authorize]

<h4 class="card-title text-primary">Журнал событий</h4>
@*<h3>Журнал событий</h3>*@

<br />
<i class="bi-journal"></i>&nbsp;&nbsp;<a href="/EventJournal/LogEvent">Журнал событий</a>

<br />
<br />

<i class="bi-journal"></i>&nbsp;&nbsp;<a href="/EventJournal/LogEventType">Типы событий</a>


@code {

}
