<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\DictionaryManagement_Server.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <security>        
        <authorization>
            <remove users="*" roles="" verbs=""/>
            <add accessType="Deny" users="?"/>
            <add accessType="Allow" users="*"/>
        </authorization>        
        <authentication>
          <anonymousAuthentication enabled="false" />
          <basicAuthentication enabled="false" />
          <clientCertificateMappingAuthentication enabled="false" />
          <digestAuthentication enabled="false" />
          <iisClientCertificateMappingAuthentication enabled="false">
          </iisClientCertificateMappingAuthentication>
          <windowsAuthentication enabled="true"/>
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: c7b94a7e-d020-49fc-b4f2-d8d0f38699cb-->