@page "/dataarchive"
@attribute [Authorize]

<h4 class="card-title text-primary">Архив данных</h4>
@*<h3>Архив данных</h3>*@


<br />

<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/DataType">Виды данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/DataSource">Источники данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/MesMovements">Архив данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/MesNdoStocks">Архив данных НДО</a>


@code {

}
