@page "/dataarchive"
@attribute [Authorize]

@* <h4 class="card-title text-primary">Архив данных</h4> *@
@*<h3>Архив данных</h3>*@

<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Архив данных</font></strong></h6>
</div>

<br />

<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/DataType">Виды данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/DataSource">Источники данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/MesMovements">Архив данных</a>
<br />
<br />
<i class="i bi-database-fill"></i>&nbsp;&nbsp;<a href="/dataarchive/MesNdoStocks">Архив данных НДО</a>


@code {

}
