@*@page "/"
@namespace DictionaryManagement_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />
*@

@page "/"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager _navigationManager
@namespace DictionaryManagement_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*  <base href="http://localhost/1_Dict" />*@
    <base href="~/" />

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/toastr/toastr.css" rel="stylesheet" />
    <link href="DictionaryManagement_Server.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @*@RenderBody()*@


    <component type="typeof(App)" render-mode="ServerPrerendered" />
    @*     <div id="blazor-error-ui">
    <environment include="Staging,Production">
    Произошла ошибка. Это приложение больше не будет отвечать пока не будет перезагружено.
    </environment>
    <environment include="Development">
    Произошло не отслеживаемое исключение. Смотрите инструменты разработчика в браузере для подробностей.
    </environment>
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
    </div> *@

    <div id="blazor-error-ui">
        <p>
            <span style="font-size: 1.2em; text-align: center;">
                    Возникла проблема в работе приложения.<br />
            </span>
            Попробуйте следующее:<br />
            <span style ="font-size: 0.8em; padding-left: 10px!important;">            
                * Нажмите <a href="" class="reload" style="color: dodgerblue;">ЗДЕСЬ</a> для обновления страницы<br/>
            </span>
            <span style="font-size: 0.8em; padding-left: 10px!important;">
                * Нажмите  <a class="" id="clean_page_settings" style="color: dodgerblue;" href="">ЗДЕСЬ</a> для сброса настроек страницы<br />
            </span>
            <span style="font-size: 0.8em; padding-left: 10px!important;">
                * Нажмите последовательно <a class="" id="go_to_home_page" style="color: dodgerblue;" href="">ЗДЕСЬ</a>, затем <a href="" class="reload" style="color: dodgerblue;">ЗДЕСЬ</a> для перехода на главную страницу<br/>
            </span>
            *****************************************************************************************
            <br />
            <span style="font-size: 0.6em;text-align: center;">Если данное окно продолжит появляться обратитесь в техподдержку.</span><br />
            <span style="font-size: 0.6em;text-align: center;">
                Для продвинутых пользователей: можно нажать F12 чтобы разобраться в причине проблемы
            </span>
        </p>
        @* <a class="dismiss" style="color: white;">🗙</a> *@
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/toastr/toastr.js"></script>
    <script src="js/sweetalert/sweetalert.min.js"></script>
    <script src="js/common.js"></script>
    <script>
        // Wait until a reload button appears
        new MutationObserver((mutations, observer) => {
            if (document.querySelector('#components-reconnect-modal h5 a')) {
                // Now every 10 seconds, see if the server appears to be back, and if so, reload
                async function attemptReload() {
                    await fetch(''); // Check the server really is back
                    location.reload();
                }
                observer.disconnect();
                attemptReload();
                setInterval(attemptReload, 2000);
            }
        }).observe(document.body, { childList: true, subtree: true });
    </script>
    <script>
        clean_page_settings.onclick = function cleanPageSettings() {
            // alert(window.location.href);
            const currentUrl = window.location.href;
            if (currentUrl.includes("/dictionary/CorrectionReason")) {
                window.localStorage.removeItem("CorrectionReasonGridSettings");
                window.localStorage.removeItem("CorrectionReasonGridSettingsVersion");
            }
            if (currentUrl.includes("/dictionary/MesMaterial")) {
                window.localStorage.removeItem("MesMaterialGridSettings");
                window.localStorage.removeItem("MesMaterialGridSettingsVersion");
            }
            if (currentUrl.includes("/dictionary/SapMaterial")) {
                window.localStorage.removeItem("SapMaterialGridSettings");
                window.localStorage.removeItem("SapMaterialGridSettingsVersion");
            }
            if (currentUrl.includes("/dictionary/SapEquipment")) {
                window.localStorage.removeItem("SapEquipmentGridSettings");
                window.localStorage.removeItem("SapEquipmentGridSettingsVersion");
            }
            if (currentUrl.includes("/dictionary/MesUnitOfMeasure")) {
                window.localStorage.removeItem("MesUnitOfMeasureGridSettings");
                window.localStorage.removeItem("MesUnitOfMeasureGridSettingsVersion");
            }

            if (currentUrl.includes("/dictionary/SapUnitOfMeasure")) {
                window.localStorage.removeItem("SapUnitOfMeasureGridSettings");
                window.localStorage.removeItem("SapUnitOfMeasureGridSettingsVersion");
            }

            if (currentUrl.includes("/dataarchive/DataSource")) {
                window.localStorage.removeItem("DataSourceGridSettings");
                window.localStorage.removeItem("DataSourceGridSettingsVersion");
            }

            if (currentUrl.includes("/dataarchive/DataType")) {
                window.localStorage.removeItem("DataTypeGridSettings");
                window.localStorage.removeItem("DataTypeGridSettingsVersion");
            }

            if (currentUrl.includes("/dataarchive/MesMovements")) {
                window.localStorage.removeItem("MesMovementsGridSettings");
                window.localStorage.removeItem("MesMovementsGridSettingsVersion");
            }

            if (currentUrl.includes("/dataarchive/MesNdoStocks")) {
                window.localStorage.removeItem("MesNdoStocksGridSettings");
                window.localStorage.removeItem("MesNdoStocksGridSettingsVersion");
            }

            if (currentUrl.includes("/EventJournal/LogEvent")) {
                window.localStorage.removeItem("LogEventGridSettings");
                window.localStorage.removeItem("LogEventGridSettingsVersion");
            }

            if (currentUrl.includes("/EventJournal/LogEventType")) {
                window.localStorage.removeItem("LogEventTypeGridSettings");
                window.localStorage.removeItem("LogEventTypeGridSettingsVersion");
            }

            if (currentUrl.includes("/reports/ReportEntity")) {
                window.localStorage.removeItem("ReportEntityGridSettings");
                window.localStorage.removeItem("ReportEntityGridSettingsVersion");
            }

            if (currentUrl.includes("/reports/ReportTemplate")) {
                window.localStorage.removeItem("ReportTemplateGridSettings");
                window.localStorage.removeItem("ReportTemplateGridSettingsVersion");
            }

            if (currentUrl.includes("/reports/ReportTemplateType")) {
                window.localStorage.removeItem("ReportTemplateTypeGridSettings");
                window.localStorage.removeItem("ReportTemplateTypeGridSettingsVersion");
            }

            if (currentUrl.includes("/SAPshowcase/SapMovementsIN")) {
                window.localStorage.removeItem("SapMovementsINGridSettings");
                window.localStorage.removeItem("SapMovementsINGridSettingsVersion");
            }

            if (currentUrl.includes("/SAPshowcase/SapMovementsOUT")) {
                window.localStorage.removeItem("SapMovementsOUTGridSettings");
                window.localStorage.removeItem("SapMovementsOUTGridSettingsVersion");
            }

            if (currentUrl.includes("/SAPshowcase/SapNdoOUT")) {
                window.localStorage.removeItem("SapNdoOUTGridSettings");
                window.localStorage.removeItem("SapNdoOUTGridSettingsVersion");
            }

            if (currentUrl.includes("/tags/MesParam")) {
                window.localStorage.removeItem("MesParamGridSettings");
                window.localStorage.removeItem("MesParamGridSettingsVersion");
            }

            if (currentUrl.includes("/tags/MesParamSourceType")) {
                window.localStorage.removeItem("MesParamSourceTypeGridSettings");
                window.localStorage.removeItem("MesParamSourceTypeGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/User")) {
                window.localStorage.removeItem("UserGridSettings");
                window.localStorage.removeItem("UserGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/Smena")) {
                window.localStorage.removeItem("SmenaGridSettings");
                window.localStorage.removeItem("SmenaGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/Settings")) {
                window.localStorage.removeItem("SettingsGridSettings");
                window.localStorage.removeItem("SettingsGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/Scheduler")) {
                window.localStorage.removeItem("SchedulerGridSettings");
                window.localStorage.removeItem("SchedulerGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/Role")) {
                window.localStorage.removeItem("RoleGridSettings");
                window.localStorage.removeItem("RoleGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/MesDepartment")) {
                window.localStorage.removeItem("MesDepartmentGridSettings");
                window.localStorage.removeItem("MesDepartmentGridSettingsVersion");
            }

            if (currentUrl.includes("/administration/ADGroup")) {
                window.localStorage.removeItem("ADGroupGridSettings");
                window.localStorage.removeItem("ADGroupGridSettingsVersion");
            }
            location.reload();
        }
    </script>

    @*     <script>
    go_to_home_page.onclick = function goToHomePage() {
    event.preventDefault();
    window.location.href = window.location.host;
    location.reload();
    }
    </script> *@

    <script>
        $('go_to_home_page').observe('click', function (event) {
            Event.stop(event);
            // await window.location = window.location.host;
            // await window.location.reload(true);
            window.open('window.location.host', '_blank');
            // location.reload();

        });
    </script>
</body>
</html>

@{
    Response.Headers["Cache-Control"] = "no-store";
}