@page "/mapping"
@attribute [Authorize]

<h4 class="card-title text-primary">Маппинг</h4>

<font color="red">
    <hr />
    <h3>НЕ ИСПОЛЬЗУЕТСЯ</h3>
    <hr />
</font>

<br />

<i class="bi bi-arrow-left-right"></i>&nbsp;&nbsp;<a href="/mapping/SapToMesMaterialMapping">Материалы</a>
<br />
<br />
<i class="bi bi-arrow-left-right"></i>&nbsp;&nbsp;<a href="/mapping/UnitOfMeasureSapToMesMapping">Единицы измерения</a>


@code {

}
