@page "/reports"
@attribute [Authorize]

<h4 class="card-title text-primary">Отчёты</h4>
@*<h3>Отчёты</h3>*@

<br />

<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportTemplateType">Типы шаблонов отчётов</a>
<br />
<br />
<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="reports/ReportTemplate">Шаблоны отчётов</a>
<br />
<br />
@* <i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportTemplateTypeTоRole">Шаблоны отчётов - привязка к ролям</a>
<br />
<br /> *@
<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportEntity">Журнал экземпляров отчётов</a>


@code {

}
