@page "/reports"
@attribute [Authorize]

@* <h4 class="card-title text-primary">Отчёты</h4> *@

<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Отчёты</font></strong></h6>
</div>
<br />

<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportTemplateType">Типы шаблонов отчётов</a>
<br />
<br />
<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="reports/ReportTemplate">Шаблоны отчётов</a>
<br />
<br />
@* <i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportTemplateTypeTоRole">Шаблоны отчётов - привязка к ролям</a>
<br />
<br /> *@
<i class="bi bi-building-fill-add"></i>&nbsp;&nbsp;<a href="/reports/ReportEntity">Журнал экземпляров отчётов</a>


@code {

}
