@page "/Tags"
@attribute [Authorize]

@* <h4 class="card-title text-primary">Тэги</h4> *@
@*<h3>Тэги</h3>*@

<div class="col-12">
    <h6 class="card-title text-primary"><a href="/">Главная</a> - <strong><font style="font-size:1.1rem; color:cornflowerblue;text-decoration: cornflowerblue overline; text-underline-offset: 5px; text-decoration-thickness: 4px;">Тэги</font></strong></h6>
</div>

<br />

<i class="bi bi-tags-fill"></i>&nbsp;&nbsp;<a href="/tags/MesParamSourceType">Типы тэгов</a>
<br />
<br />
<i class="bi bi-tags-fill"></i>&nbsp;&nbsp;<a href="/tags/MesParam">Тэги</a>


@code {

}
