@page "/Tags"
@attribute [Authorize]

<h4 class="card-title text-primary">Тэги</h4>
@*<h3>Тэги</h3>*@

<br />

<i class="bi bi-tags-fill"></i>&nbsp;&nbsp;<a href="/tags/MesParamSourceType">Типы тэгов</a>
<br />
<br />
<i class="bi bi-tags-fill"></i>&nbsp;&nbsp;<a href="/tags/MesParam">Тэги</a>


@code {

}
